# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.BuildABridgeSimulator.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Aditya Oka\Documents\GitHub\BuildABridgeSimulator\.idea\.idea.BuildABridgeSimulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
